In [2]:
import pandas as pd
import json

In [3]:
# прочитаем train_2_col.csv
train_4_col_2 = pd.read_csv('train_4_col_2.csv', sep='\t',index_col = 0)
train_4_col_2_small = train_4_col_2.head(100)
train_4_col_2_small.head()

c:\users\nikolay\anaconda3\envs\tensorflowenv\lib\site-packages\numpy\lib\arraysetops.py:522: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

                         id  category  subcategory
0  3edeb34cf93f490ff760af85         9          914
1  c98febd50dad3cc0ffc86085        22         2202
2  ade01e13912a46a99134cc75        22         2204
3  ab3e6941c11304c1519aef75        22         2209
5  252452a91c944a22c276d995        22         2204

In [4]:
# прочитаем train_4_col_3 .csv
train_4_col_3 = pd.read_csv('train_4_col_3.csv', sep='\t',index_col = 0)
train_4_col_3_small = train_4_col_3.head(100)
train_4_col_3_small.head()

                         id                                             fields
0  3edeb34cf93f490ff760af85  [{'field': {'name': 'Женский гардероб', 'id': ...
1  c98febd50dad3cc0ffc86085  [{'field': {'name': 'Детский гардероб', 'id': ...
2  ade01e13912a46a99134cc75  [{'field': {'name': 'Детский гардероб', 'id': ...
3  ab3e6941c11304c1519aef75  [{'field': {'name': 'Детский гардероб', 'id': ...
5  252452a91c944a22c276d995  [{'field': {'name': 'Детский гардероб', 'id': ...

In [ ]:
# прочитаем train_4_col.csv
train_4_col = pd.read_csv('train_4_col.csv', sep='\t',index_col = 0)
train_4_col_small = train_4_col.head(100)
train_4_col_small.head()

<p>Объединим маленькие датафреймы
Внимание!!! чтобы объединились полные датафреймы - надо убрать окончание "_small" в ячейке ниже. Далее будет использовано название train. После объединения полных датафреймов это название менять не надо.</p>

In [ ]:
train = train_4_col_3.merge(train_4_col_2, on='id', how='left').merge(train_4_col, on='id', how='left')
train.head(2).T

In [ ]:
# Функция, которая извлекает значений ключей из поля "fields"
def valextractor(field, key1=0, key2='name'):
    try:
        value = eval(field[1:-1])[key1]['field'][key2]
    except:
        value = ''
    return value

In [ ]:
# функция, которая доавляет новые категории
def getcat(df):
    df_ = df.copy()
    df_['fd_name1'] = df_['fields'].apply(lambda x: (valextractor(x, key1=0,key2='name')))
    df_['fd_name2'] = df_['fields'].apply(lambda x: (valextractor(x, key1=1,key2='name')))
    df_['fd_id1'] = df_['fields'].apply(lambda x: (valextractor(x, key1=0,key2='id')))
    df_['fd_id2'] = df_['fields'].apply(lambda x: (valextractor(x, key1=1,key2='id')))
    df_['fd_slug1'] = df_['fields'].apply(lambda x: (valextractor(x, key1=0,key2='slug')))
    df_['fd_slug2'] = df_['fields'].apply(lambda x: (valextractor(x, key1=1,key2='slug')))
    df_['fd_slug_id1'] = df_['fields'].apply(lambda x: (valextractor(x, key1=0,key2='slug_id')))
    df_['fd_slug_id2'] = df_['fields'].apply(lambda x: (valextractor(x, key1=1,key2='slug_id')))
    return df_

In [ ]:
train_temp = train.pipe(getcat)

In [ ]:
# удалим задублированные столбцы
train_temp.drop(columns=['fd_id1','fd_id2','fields' ],axis=1, inplace=True)
train_temp.head(50).T

In [ ]:
#write to the file
#train_temp.to_csv('generated_data/train.csv')

In [5]:
#download already prepared data
train_temp = pd.read_csv('generated_data/train.csv', index_col = 0)

In [6]:
train_temp.T.head(15)

,0,1,2,3,4,5,6,7,8,9,...,1748880,1748881,1748882,1748883,1748884,1748885,1748886,1748887,1748888,1748889
id,3edeb34cf93f490ff760af85,c98febd50dad3cc0ffc86085,ade01e13912a46a99134cc75,ab3e6941c11304c1519aef75,252452a91c944a22c276d995,364f7659a4e9ba6c53e35495,c3d87065e4dbc080f400bb85,22e6a518d53f490f6ce7fd85,c6bd550b7f1304c1f7fda485,117b885a3cf9554042ae2285,...,97ee729c6b6b083a05e14995,3e37e6d8bc70bf66f2ca7495,8d403112ca9e2db5ce63d885,2ccac518d420532f256f4595,60ea05f603ff162bd4260195,2460206aa90c63db4475fe85,36f2465b7a5402fcdb8dd595,3cd221a6921fcb56e2dfcd85,40756707daff162bfe68d195,3cddf37632e395c29d764095
category,9,22,22,22,22,9,15,4,3,2,...,2,12,9,9,20,8,4,15,14,12
subcategory,914,2202,2204,2209,2204,902,1508,403,301,208,...,208,1202,904,921,2004,803,406,1507,1403,1202
name,Сумка DG,Комплект,Пальтишко демисезонное,Attipas,Жилет теплый,"Босоножки, сабо",Жесткий диск для ноутбука Seagate 320gb,Ковер 324 на 240,Кенгуру,Машинка автомат,...,Стиральная машинка индезит,Айфон 6 64,Короткое чёрное платье!,Новый купальник,"Участок, до 6 сот., сельхоз (снт или днп)",Кожаная куртка (лайка),Фикус,Мышка беспроводная,Парфюм,HTS Desire 601 dual sim
description,NaN,8-12 лет,"На девочку 1,5 г,состояние хорошее","Размер-135mm, euro-22.5.Прочная, мягкая, не ск...",NaN,"Новые, текстильные босоножки, 37 размер в разм...",Seagate Модель St320lt020 HDD для ноутбуков ...,"Состояние отличное,без дефектов","Продам кенгуру 350 , ванночка с горкой 250",NaN,...,"В хорошем состояние,требуется только замена по...",Телефон упал разбился экран и не включается пр...,Новое! На спине молния,NaN,"г. Реж, СНТ Металлург-5 . Расстояние от Екате...","Кожаная куртка (лайка). Италия, V. King. Новая...",NaN,Новая беспроводная мышка,Парфюмерная вода 50 мл. В наличии одна. Запако...,На экране трещина. Состояние корпуса на 4. Про...
price,199900,35000,30000,80000,50000,30000,150000,200000,35000,350000,...,200000,500000,35000,130000,25000000,749900,20000,25000,70000,210000
fd_name1,Женский гардероб,Детский гардероб,Детский гардероб,Детский гардероб,Детский гардероб,Женский гардероб,Компьютерная техника,Для дома и дачи,Детские товары,Бытовая техника,...,Бытовая техника,Телефоны и планшеты,Женский гардероб,Женский гардероб,Недвижимость,Мужской гардероб,Для дома и дачи,Компьютерная техника,Красота и здоровье,Телефоны и планшеты
fd_name2,Аксессуары,Аксессуары,Верхняя одежда,Обувь,Верхняя одежда,Обувь,Комплектующие и запчасти,Текстиль и ковры,Другое,Стиральные машины,...,Стиральные машины,Мобильные телефоны,Платья и юбки,Купальники,Продажа участка,Верхняя одежда,Растения и семена,Клавиатуры и мыши,Парфюмерия,Мобильные телефоны
fd_slug1,zhenskaya-odezhda,detskaya-odezhda,detskaya-odezhda,detskaya-odezhda,detskaya-odezhda,zhenskaya-odezhda,kompyutery,dom-dacha,detskie,bytovaya-tekhnika,...,bytovaya-tekhnika,smartfony-planshety,zhenskaya-odezhda,zhenskaya-odezhda,nedvijimost,muzhskaya-odezhda,dom-dacha,kompyutery,krasota-i-zdorove,smartfony-planshety
fd_slug2,aksessuary,aksessuary,verhnyaya-odezhda,obuv,verhnyaya-odezhda,obuv,komplektuyushchie,tekstil-kovry,drugoe,stiralnye-mashiny,...,stiralnye-mashiny,smartfony,platya-yubki,kupalniki,prodaja-uchastka,verhnyaya,rasteniya,klaviatury-i-myshi,parfyumeriya,smartfony
fd_slug_id1,zhenskaya-odezhda,detskaya-odezhda,detskaya-odezhda,detskaya-odezhda,detskaya-odezhda,zhenskaya-odezhda,kompyutery,dom-dacha,detskie,bytovaya-tekhnika,...,bytovaya-tekhnika,smartfony-planshety,zhenskaya-odezhda,zhenskaya-odezhda,nedvijimost,muzhskaya-odezhda,dom-dacha,kompyutery,krasota-i-zdorove,smartfony-planshety
fd_slug_id2,zhenskaya-odezhda-aksessuary,detskaya-odezhda-aksessuary,detskaya-odezhda-verhnyaya-odezhda,detskaya-odezhda-obuv,detskaya-odezhda-verhnyaya-odezhda,zhenskaya-odezhda-obuv,komplektuyushchie,tekstil-kovry,detskie-drugoe,stiralnye-mashiny,...,stiralnye-mashiny,smartfony,zhenskaya-odezhda-platya-yubki,zhenskaya-odezhda-kupalniki,prodaja-uchastka,muzhskaya-odezhda-verhnyaya,rasteniya,klaviatury-i-myshi,parfyumeriya,smartfony

In [7]:
# Посмотрим сколько всего лэйблов получается
for item in train_temp.columns[6:]:
    print("Unique values in column {0} == {1}".format(item,train_temp[item].unique().shape))

Unique values in column fd_name1 == (22,)
Unique values in column fd_name2 == (204,)
Unique values in column fd_slug1 == (22,)
Unique values in column fd_slug2 == (212,)
Unique values in column fd_slug_id1 == (22,)
Unique values in column fd_slug_id2 == (249,)

In [8]:
# Очень похоже на то что информация в классах, написанных транслитом, просто дублирует классы написанные на кириллице
# возьмем срез 20000 [10000:30000,:] для дальнейших манипуляций.(срез [:10000] уже был обработан и сохранен как числовые данные)
small_train  = train_temp.drop(['fd_slug1','fd_slug2','fd_slug_id1','fd_slug_id2'],axis=1).iloc[60000:70000,:]

In [9]:
small_train.T.head(20)

,60000,60001,60002,60003,60004,60005,60006,60007,60008,60009,...,69990,69991,69992,69993,69994,69995,69996,69997,69998,69999
id,7d521a33915f2d419fa69985,302783aaf22a46a94ac8ef75,369ba47a1870bf66fbb79495,31ba828ce3a986fc25db0195,41451146c982baaaa6c85a95,25e6c16f79e395c23c4e4295,259817e06818fff06a9a3b95,cb9e81f45167596f0157bc95,20f53e847f57e9744c712685,222f8449795ccdeb25f1b095,...,36d7216d040c63dbf8141395,b746e132b03955b490699a85,2151570b745ccdeb30aa1095,d64ce23127e20368088cd085,7b0324ebcef9554033edbb85,090a4e82c51304c19e292d85,37fc53b9f3ba9a72aac20795,e744f7f8d3319881df83c985,4edb437cc63f490f4ff3b595,2724e1f677e3b470c7a39e85
category,6,22,9,1,22,9,22,8,5,9,...,9,8,12,9,9,22,20,100,4,8
subcategory,608,2206,904,112,2216,904,2204,802,506,909,...,906,807,1202,902,914,2202,2006,10001,409,802
name,Стеклопакет 5 штук,комбинезон боди бу,Новое платье 42-44,Pioneer 88rs2,Одежда на мальчика р122,Юбка новая,Куртка осенняя,Мужские полуботинки Clarks,Водонагреватель,Майка-топ,...,Джинсы,Кофта Esprit,BQ Magic,Туфли,Сумка с шипами,Шапки,"Комната, от 15 до 20 м²",Емкость для напитков 0.5 л,Шкаф,Найки 95
description,"Стеклопакет однокамерный , алюминиевые констру...",В хорошем состоянии. теплый боди комбинезон . ...,Сидит отлично,В отличном состоянии. Недавно заменен шлейф на...,Состояние идеальное. Вещей много по этому все ...,"Юбка новая, без размера, на резинке, длина 75 см",На рост 86-92 Есть недочеты. Маленькие бледно ...,Очень комфортные мужские полуботинки Clarks на...,Продам за половину стоимости водонагреватель ф...,В отличном состоянии. Вместе с юбкой - 200р. П...,...,"Хорошее качество,сидят крутяшно😊",Кофта Esprit оригинал производство Германия 10...,Отличный телефон 4 ядра 16 гигабайт своей памя...,"Замша,за шоколадку",Сумка в отличном состоянии,NaN,Сдам срочно комнату на подселение в Центрально...,Новая популярная бутылка для напитков. Вместе ...,Самовывоз,Реплика
price,100000,35000,30000,700000,50000,80000,40000,200000,40000,10000,...,129900,30000,450000,100,50000,10000,600000,15000,50000,100000
fd_name1,Ремонт и строительство,Детский гардероб,Женский гардероб,Транспорт и автотовары,Детский гардероб,Женский гардероб,Детский гардероб,Мужской гардероб,Животные,Женский гардероб,...,Женский гардероб,Мужской гардероб,Телефоны и планшеты,Женский гардероб,Женский гардероб,Детский гардероб,Недвижимость,Прочее,Для дома и дачи,Мужской гардероб
fd_name2,Окна,Комбинезоны и боди,Платья и юбки,Аудио и видео,Штаны и шорты,Платья и юбки,Верхняя одежда,Обувь,Рыбки,Футболки и топы,...,Штаны и шорты,Свитеры и толстовки,Мобильные телефоны,Обувь,Аксессуары,Аксессуары,Аренда комнаты,Другое,Шкафы и комоды,Обувь

In [10]:
target = small_train['price']

In [11]:
# ресет индексов
target = target.reset_index()['price']
small_train.reset_index(inplace = True)

In [12]:
# замена Нанов на пустую строку
small_train['description'].fillna('',inplace = True)

In [13]:
# замена Нанов на пустую строку
small_train['name'].fillna('',inplace = True)

In [14]:
# проверка NAN
small_train[['description','name']].isnull().any()

description    False
name           False
dtype: bool

In [15]:
# объединяю столбцы в один для дальнейшего преобразования слов в векторы
#small_train["new_description"] = small_train['description'] +' '+small_train['name']

In [17]:
#
small_train["description"][5000]

'Продам зимнее пальто. В отличном состоянии! На 44 размер. Очень теплое! На синтепоновой подкладкой. На внутренней части воротника есть пуговки для меха. Хороший состав 50% ШЕРСТИ!!! данные на фото.В комплекте есть два ремня - кож зам и шерстяной. Продаю в связи с тем что стало сильно мало, на фото видно..оно по мне в оптяг)) а должно свободно😊. Звоните, пишите. '

#### Разные утильные функции для обработки текста и отбора колонок

In [18]:
import pymorphy2
# Импортируем библиотеки Word2Vec
from gensim.models.word2vec import Word2Vec # Собственно модель.
from gensim.models.word2vec import LineSentence # Выравнивание текста по предложениям.
from gensim.models import KeyedVectors # Семантические вектора.
import numpy as np
import re

c:\users\nikolay\anaconda3\envs\tensorflowenv\lib\site-packages\gensim\utils.py:1212: UserWarning: detected Windows; aliasing chunkize to chunkize_serial
  warnings.warn("detected Windows; aliasing chunkize to chunkize_serial")

In [19]:
model_w2v = KeyedVectors.load_word2vec_format('ruscorpora/ruscorpora_upos_skipgram_300_5_2018.vec')

In [20]:
# функция для обработки строк в описании товара
def getMeaningfullWords(text):
    def to_txt2(data):
        t = re.findall("[А-Яа-яЁё]+\-[А-Яа-яЁё]+|[А-Яа-яЁё]+", data)
        return " ".join(t)
    posConv={'ADJF':'_ADJ','NOUN':'_NOUN','VERB':'_VERB'}
    morph=pymorphy2.MorphAnalyzer()
    words=[]
    word_dict = {}
    tokens = to_txt2(text).split()
    if tokens == []:
        return " ".join(words)
        
    for t in tokens:
        if t  in word_dict.keys() and len(t) > 1 and len(t) < 30:
            words.append(word_dict[t])
        else:
            pv=morph.parse(t)
            for p in pv:
                if p.tag.POS in ['ADJF', 'NOUN', 'VERB']:
                    words.append(p.normal_form)
                    word_dict[p] = p.normal_form
                    break
    return " ".join(words)

In [115]:
# функция для обработки строк в описании товара
def getMeaningfullEnglishWords(text):
    def to_txt2(data):
        t = re.findall("[A-Za-z]+\-[A-Za-z]+|[A-Za-z]+", data)
        return " ".join(t)
   
    words=[]
    tokens = to_txt2(text).split()
    if tokens == []:
        return " ".join(words)
        
    for t in tokens:
        if len(t) > 1 and len(t) < 30:
            words.append(t)
    return " ".join(words)
#re.findall(r'\d+'

In [107]:
def getDigits(text):
    return " ".join(re.findall(r'\d+', text))
#re.findall(r'\d+'

In [23]:
# function to convert text data list of normal form russian words
def getMeaningfullWordsUpdated(text):
    '''
     function to convert text data list of normal form russian words
    '''
    def to_txt2(data):
        t = re.findall("[А-Яа-яЁё]+\-[А-Яа-яЁё]+|[А-Яа-яЁё]+", data)
        return " ".join(t)
    posConv={'ADJF':'_ADJ','NOUN':'_NOUN','VERB':'_VERB'}
    morph=pymorphy2.MorphAnalyzer()
    words=[]
    word_dict = {}
    tokens = to_txt2(text).split()
    if tokens == []:
        return " ".join(words)
    for t in tokens:
        if t  in word_dict.keys() and len(t) > 1 and len(t) < 30:
            words.append(word_dict[t])
        else:
            
            pv=morph.parse(t)
           
            for p in pv:
                if p.tag.POS in ['ADJF', 'NOUN', 'VERB']:
                    words.append(p.normal_form + posConv[p.tag.POS])
                    word_dict[p] = p.normal_form
                    break
            

    return words

In [24]:
def text_to_vec(text, model = model_w2v, size = 300):
    text_vec = np.zeros((size,), dtype="float32")
    n_words = 0
    for word in getMeaningfullWordsUpdated(text):
        
        try:
            text_vec = np.add(text_vec, model[word])
            n_words += 1
        except:
            continue
    
    if n_words != 0:
        text_vec /= n_words
    return text_vec

In [25]:
print("loading vectors")
word2vec = {}
embedding = []
idx2word = []
with open("Glove/glove.6B.50d.txt",encoding="utf-8") as f:
    for line in f:
        values = line.split()
        word = values[0]
        vec = np.asarray(values[1:],dtype = 'float32')
        word2vec[word] = vec
        embedding.append(vec)
        idx2word.append(word)
print("Found %s word vectors " % len(word2vec))
embedding = np.array(embedding)
V, D = embedding.shape

loading vectors
Found 400000 word vectors

In [26]:
def gloveVectorizer(text, model = model_w2v, size = 50):
    text_vec = np.zeros((size,), dtype="float32")
    n_words = 0
    for word in getMeaningfullEnglishWords(text).split():
        
        try:
            text_vec = np.add(text_vec, word2vec[word])
            n_words += 1
        except:
            continue
    if n_words != 0:
        text_vec /= n_words
    return text_vec

In [27]:
def gloveDigitVectorizer(text, model = model_w2v, size = 50):
    text_vec = np.zeros((size,), dtype="float32")
    n_words = 0
    for word in getDigits(text).split():
        
        try:
            text_vec = np.add(text_vec, word2vec[word])
            n_words += 1
        except:
            continue
    if n_words != 0:
        text_vec /= n_words
    return text_vec

In [29]:

from sklearn.compose import ColumnTransformer
from sklearn.base import BaseEstimator, TransformerMixin
import xgboost as xgb

In [30]:
class ColumnSelector(BaseEstimator, TransformerMixin):
    def __init__(self, attribute_names):
        self.attribute_names = attribute_names
    def fit(self, X_, y=None): # 
        return self
    def transform(self, X_):
        return X_.loc[:, self.attribute_names].values #

def gloveVectorizer(data):
    counter = 0
    train_data = []
    for sentense in data:
        for w in sentense.split():
            if w not in word2vec:
                counter+=1
                #print("%s is not in dictionary" % w)
                train_data.append("")
                continue
            v = word2vec[w]
            train_data.append(v)
    print('Empty sentences value =={0}, sentences with english == {1}'.format(count,data.shape[0] - count))
    return np.array(train_data)

In [31]:
#convert header of russian words to vector 
#small_train['header_words_vector'] = small_train["new_description"].apply(text_to_vec)

In [33]:
def make_columns_from_array(array_data,header_word):
    
    text = array_data[array_data.index[0]]
    for i in range(1,array_data.shape[0]):
        text = np.vstack((text, array_data[array_data.index[i]]))
    result = pd.DataFrame(data = text, index = array_data.index,\
                                        columns = ["{0}2v_{1}".format(header_word,i) for i in range(text.shape[1])])
    return result

In [35]:
#convert header of russian words to vector 
small_train['rus_description'] = small_train['description'].apply(text_to_vec)

In [36]:
descr_rus_vector = make_columns_from_array(small_train['rus_description'], 'rus_word')

In [37]:
descr_rus_vector.head()

,rus_word2v_0,rus_word2v_1,rus_word2v_2,rus_word2v_3,rus_word2v_4,rus_word2v_5,rus_word2v_6,rus_word2v_7,rus_word2v_8,rus_word2v_9,...,rus_word2v_290,rus_word2v_291,rus_word2v_292,rus_word2v_293,rus_word2v_294,rus_word2v_295,rus_word2v_296,rus_word2v_297,rus_word2v_298,rus_word2v_299
0,-0.053885,0.051695,0.000624,-0.029101,-0.053150,0.035577,-0.021225,-0.016611,0.001603,-0.018745,...,-0.032052,0.027320,-0.006930,-0.074489,-0.079981,0.005517,-0.038228,0.024849,0.066353,-0.017067
1,-0.001228,-0.010492,0.003941,-0.013573,0.021608,0.038924,0.005106,-0.007733,-0.040691,0.021337,...,-0.023142,0.029684,-0.045209,-0.069048,-0.024419,0.036898,-0.007493,-0.017432,0.061589,0.001307
2,-0.055651,-0.059641,-0.036199,-0.119743,-0.077695,-0.038244,0.015648,0.011561,0.060390,0.116322,...,-0.045398,0.044849,-0.002669,0.013072,-0.007001,0.054009,0.020313,-0.028049,0.072187,0.007945
3,0.013475,-0.024082,0.015105,-0.013496,-0.024861,0.021129,-0.005951,0.009024,-0.035870,-0.021229,...,-0.039323,0.032634,-0.047601,-0.054518,-0.024906,0.001630,-0.011650,-0.008800,0.048382,0.000230
4,-0.030861,-0.016725,-0.002580,-0.006202,0.048460,0.033876,0.033791,-0.003930,-0.027127,0.005155,...,-0.020617,0.027213,-0.034433,-0.069561,0.008083,0.059861,-0.021123,-0.055007,0.048391,0.017137

In [56]:
train_data = descr_rus_vector[:8000]
test_data = descr_rus_vector[8000:]
price_cat = target.apply(quantile_divider2)
#Y_quantile = np_utils.to_categorical(price_cat)
train_labels = price_cat[:8000]
test_labels = price_cat[8000:]

In [127]:
estimator =  KerasClassifier(build_fn=create_classifier_model, epochs=300, batch_size=16, verbose=0)

In [128]:
#estimator.fit(train_data,train_labels)

In [102]:
y_hat = estimator.predict(train_data)
y_hat = y_hat.reshape(8000)
y_hat[train_labels == y_hat].shape[0]/y_hat.shape[0]

0.890125

In [103]:
y_hat = estimator.predict(test_data)
y_hat = y_hat.reshape(2000)
y_hat[test_labels == y_hat].shape[0]/y_hat.shape[0]

0.6945

In [104]:
describe_rus_predict =  y_hat

In [105]:
small_train = small_train.join(descr_rus_vector,how = 'left')

In [108]:
#convert header of russian words to vector 
small_train['digits_description'] = small_train["description"].apply(gloveDigitVectorizer)

In [109]:
descr_dig_vector = make_columns_from_array(small_train['digits_description'],'digit')

In [110]:
small_train = small_train.join(descr_dig_vector,how = 'left')

In [116]:
small_train['english_description'] = small_train["description"].apply(gloveVectorizer)

In [117]:
descr_eng_vector = make_columns_from_array(small_train['english_description'],'eng_word')

In [118]:
full_descr_data = descr_rus_vector.join(descr_dig_vector,how = 'left').join(descr_eng_vector,how = 'left')

In [119]:
full_descr_data.shape

(10000, 400)

In [180]:
train_data = full_descr_data[:8000]
test_data = full_descr_data[8000:]
price_cat = target.apply(quantile_divider1)
#Y_quantile = np_utils.to_categorical(price_cat)
train_labels = price_cat[:8000]
test_labels = price_cat[8000:]

In [181]:
estimator.fit(train_data,train_labels)

In [182]:
y_hat = estimator.predict(train_data)
y_hat = y_hat.reshape(8000)
y_hat[train_labels == y_hat].shape[0]/y_hat.shape[0]

0.877125

0.90225

In [183]:
y_hat = estimator.predict(test_data)
y_hat = y_hat.reshape(2000)
y_hat[test_labels == y_hat].shape[0]/y_hat.shape[0]

0.817

In [184]:
quantile_025 = y_hat

In [178]:
quantile_075

array([0, 0, 0, ..., 0, 0, 0], dtype=int64)

In [152]:
train_data = full_descr_data[:8000]
test_data = full_descr_data[8000:]
price_cat = target.apply(quantile_divider_to_3)
Y_quantile = np_utils.to_categorical(price_cat)
train_labels = Y_quantile[:8000]
test_labels = Y_quantile[8000:]

In [159]:
test_labels.shape

(2000, 3)

In [160]:
softmax =  KerasClassifier(build_fn=create_softmax_model, epochs=300, batch_size=15, verbose=0)

In [161]:
softmax.fit(train_data,train_labels)

In [166]:
y_hat = softmax.predict(test_data)
y_hat

array([2, 0, 1, ..., 1, 0, 0])

In [168]:
y_hat = softmax.predict(test_data)
y_hat = y_hat.reshape(2000)
y_hat[price_cat[8000:] == y_hat].shape[0]/y_hat.shape[0]

0.5415

In [ ]:
dummies = pd.get_dummies(vect_data[['fd_name1','fd_name2']],prefix = ['fd_name1','fd_name2'])

In [ ]:
small_train = small_train.join(dummies,how = 'left')

In [ ]:
from sklearn import preprocessing
labelEncoder = preprocessing.LabelEncoder()

In [ ]:
small_train['labeled_category'] = labelEncoder.fit_transform(small_train['category'])

In [ ]:
small_train['labeled_category'] = labelEncoder.fit_transform(small_train['category'])

In [ ]:
from sklearn import preprocessing
hotEncoder = preprocessing.OneHotEncoder()

In [ ]:
encodet_data = hotEncoder.fit_transform(vect_data[['labeled_category','labeled_subcategory']])

In [ ]:
small_train = small_train.join(make_columns_from_array(encodet_data,'category'),how = 'left')

In [ ]:
dropColumns = [
    'rus_description',
    'digits_description',
    'description',
    'english_description',
    'labeled_category',
    'labeled_subcategory',
    'category',
    'name',
    'fd_name1',
    'fd_name2',
    'id'
    
    
]

In [ ]:
train = small_train.drop(dropColumns,axis = 1)

In [ ]:
train.to_csv('generated_data/prepeared_train_1.csv')

In [38]:
from sklearn.preprocessing import OneHotEncoder 
from keras.utils import np_utils 
from keras.wrappers.scikit_learn import KerasClassifier
from sklearn.model_selection import cross_val_score
from sklearn.model_selection import KFold
from keras.constraints import maxnorm
from keras.optimizers import SGD
from numpy import array
from keras.preprocessing.text import one_hot
from keras.preprocessing.sequence import pad_sequences
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Flatten
from keras.layers.embeddings import Embedding
from keras.layers import Dropout
from keras.wrappers.scikit_learn import KerasRegressor

Using TensorFlow backend.

In [157]:
def create_softmax_model(input_dim = 400):
    # create model
    model = Sequential()
    model.add(Dense(60, input_dim=input_dim, kernel_initializer='normal', activation='relu', kernel_constraint=maxnorm(3)))
    model.add(Dropout(0.4))
    
    model.add(Dense(30, kernel_initializer='normal', activation='relu', kernel_constraint=maxnorm(3)))
    model.add(Dropout(0.3))
    model.add(Dense(9, kernel_initializer='normal', activation='relu', kernel_constraint=maxnorm(3)))
    model.add(Dropout(0.3))
    #model.add(Dense(4, kernel_initializer='normal', activation='softmax'))
    model.add(Dense(3, activation='softmax'))#model.add(Dense(1,  activation='linear'))
    #model1.add(Dense(1, activation='sigmoid'))model.add(Dense(1,  activation='linear'))
    # Compile model
    sgd = SGD(lr=0.1, momentum=0.9, decay=0.0, nesterov=False)
    #model.compile(loss='mse', optimizer='adam')
    model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['acc'])
    #model.compile(loss='mse', optimizer='adam')its for regression
    return model

In [126]:
def create_classifier_model(input_dim = 400):
    # create model
    model = Sequential()
    model.add(Dense(60, input_dim=input_dim, kernel_initializer='normal', activation='relu', kernel_constraint=maxnorm(3)))
    model.add(Dropout(0.4))
    
    model.add(Dense(30, kernel_initializer='normal', activation='relu', kernel_constraint=maxnorm(3)))
    model.add(Dropout(0.3))
    model.add(Dense(10, kernel_initializer='normal', activation='relu', kernel_constraint=maxnorm(3)))
    model.add(Dropout(0.3))
    #model.add(Flatten())
    #model.add(Dense(4, kernel_initializer='normal', activation='softmax'))
    model.add(Dense(1, activation='sigmoid'))
    #model1.add(Dense(1, activation='sigmoid'))model.add(Dense(1,  activation='linear'))
    # Compile model
    sgd = SGD(lr=0.1, momentum=0.9, decay=0.0, nesterov=False)
    #model.compile(loss='mse', optimizer='adam')
    model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['acc'])
    #model.compile(loss='mse', optimizer='adam')its for regression
    return model

In [62]:
# dropout in hidden layers with weight constraint

def create_regressor_model(input_dim = 300):
    # create model
    model = Sequential()
    model.add(Dense(60, input_dim=input_dim, kernel_initializer='normal', activation='relu', kernel_constraint=maxnorm(3)))
    model.add(Dropout(0.2))
    model.add(Dense(30, kernel_initializer='normal', activation='relu', kernel_constraint=maxnorm(3)))
    model.add(Dropout(0.2))
    #model.add(Dense(4, kernel_initializer='normal', activation='softmax'))
    model.add(Dense(1,  activation='linear'))#model1.add(Dense(1, activation='sigmoid'))
    # Compile model
    sgd = SGD(lr=0.1, momentum=0.9, decay=0.0, nesterov=False)
    model.compile(loss='mse', optimizer='adam')#model.compile(optimizer='adam', loss='binary_crossentropy', metrics=['acc'])
    return model

seed = np.random.seed(42)

#results = cross_val_score(estimator, train_prpeared_data, train_labels, cv=kfold)
#print("Hidden: %.2f%% (%.2f%%)" % (results.mean()*100, results.std()*100))

In [ ]:
estimator =  KerasRegressor(build_fn=create_regressor_model, epochs=300, batch_size=16, verbose=0)
#pipeline = Pipeline(estimators)
kfold = KFold(n_splits=4, shuffle=True, random_state=seed)

In [ ]:
from sklearn.metrics import r2_score
print("Mean absolute error: %.2f" % np.mean(np.absolute(y_hat.reshape(2000) - test_labels)))
print("Residual sum of squares (MSE): %.2f" % np.mean((y_hat.reshape(2000) - test_labels) ** 2))
print("R2-score: %.2f" % r2_score(y_hat.reshape(2000) , test_labels) )

In [151]:
quantile_025 = target.quantile(0.25)
quantile_05 = target.quantile(0.5)
quantile_075 = target.quantile(0.75)
def quantile_divider(price):
    if price < quantile_025:
        return 0
    if price < quantile_05:
        return 1
    if price < quantile_075:
        return 2
    return 3

In [150]:
quantile_033 = target.quantile(0.33)
quantile_066 = target.quantile(0.66)
#quantile_075 = target.quantile(0.75)
def quantile_divider_to_3(price):
    if price < quantile_033:
        return 0
    if price < quantile_066:
        return 1
    
    return 2

In [45]:
def quantile_divider2(price):
    if price < quantile_05:
        return 0
    return 1

In [137]:
def quantile_divider3(price):
    if price < quantile_075:
        return 0
    return 1

In [179]:
def quantile_divider1(price):
    if price < quantile_025:
        return 1
    return 0

In [ ]:
train_data = train[:8000]
test_data = train[8000:]
price_cat = target.apply(quantile_divider2)
#Y_quantile = np_utils.to_categorical(price_cat)
train_labels = price_cat[:8000]
test_labels = price_cat[8000:]

In [ ]:
estimator =  KerasClassifier(build_fn=create_classifier_model, epochs=300, batch_size=16, verbose=0)

In [ ]:
estimator.firt(train_data,train_labels)

In [ ]:
y_hat = y_hat.reshape(2000)

In [ ]:
y_hat[price_cat[8000:] == y_hat].shape[0]/y_hat.shape[0]