In [1]:
import pandas as pd
import json

In [ ]:
# прочитаем train_2_col.csv
#train_4_col_2 = pd.read_csv('train_4_col_2.csv', sep='\t')

In [2]:
# прочитаем train_4_col_3 .csv
train_4_col_3 = pd.read_csv('train_4_col_3.csv', sep='\t')

In [ ]:
# прочитаем train_4_col.csv
#train_4_col = pd.read_csv('train_4_col.csv', sep='\t')

Сделаем совсем маленький датафрейм. просто чтоб поиграться с функией

In [3]:
train_4_col_3_small = train_4_col_3.head(100)
train_4_col_3_small.head()

,Unnamed: 0,id,fields
0,0,3edeb34cf93f490ff760af85,"[{'field': {'name': 'Женский гардероб', 'id': ..."
1,1,c98febd50dad3cc0ffc86085,"[{'field': {'name': 'Детский гардероб', 'id': ..."
2,2,ade01e13912a46a99134cc75,"[{'field': {'name': 'Детский гардероб', 'id': ..."
3,3,ab3e6941c11304c1519aef75,"[{'field': {'name': 'Детский гардероб', 'id': ..."
4,5,252452a91c944a22c276d995,"[{'field': {'name': 'Детский гардероб', 'id': ..."

In [4]:
# Функция, которая извлекает значений ключей из поля "fields"
def valextractor(field, key1=0, key2='name'):
    value = eval(field[1:-1])[key1]['field'][key2] 
    return value

In [5]:
# проверяем функцию. работает.
field = train_4_col_3_small.iloc[0,2]
valextractor(field, key1=0,key2='name')

'Женский гардероб'

In [6]:
# функция, которая доавляет новые категории
def getcat(df):
    df_ = df.copy()
    df_['fd_name1'] = df_['fields'].map(lambda x: (valextractor(x, key1=0,key2='name')))
    df_['fd_name2'] = df_['fields'].map(lambda x: (valextractor(x, key1=1,key2='name')))
    df_['fd_id1'] = df_['fields'].map(lambda x: (valextractor(x, key1=0,key2='id')))
    df_['fd_id2'] = df_['fields'].map(lambda x: (valextractor(x, key1=1,key2='id')))
    df_['fd_slug1'] = df_['fields'].map(lambda x: (valextractor(x, key1=0,key2='slug')))
    df_['fd_slug2'] = df_['fields'].map(lambda x: (valextractor(x, key1=1,key2='slug')))
    df_['fd_slug_id1'] = df_['fields'].map(lambda x: (valextractor(x, key1=0,key2='slug_id')))
    df_['fd_slug_id2'] = df_['fields'].map(lambda x: (valextractor(x, key1=1,key2='slug_id')))
    return df_

In [7]:
# применим функцию
train_4_col_3_small_new = train_4_col_3_small.pipe(getcat)

In [8]:
# посмотрим что получилось
train_4_col_3_small_new.head().T

,0,1,2,3,4
Unnamed: 0,0,1,2,3,5
id,3edeb34cf93f490ff760af85,c98febd50dad3cc0ffc86085,ade01e13912a46a99134cc75,ab3e6941c11304c1519aef75,252452a91c944a22c276d995
fields,"[{'field': {'name': 'Женский гардероб', 'id': ...","[{'field': {'name': 'Детский гардероб', 'id': ...","[{'field': {'name': 'Детский гардероб', 'id': ...","[{'field': {'name': 'Детский гардероб', 'id': ...","[{'field': {'name': 'Детский гардероб', 'id': ..."
fd_name1,Женский гардероб,Детский гардероб,Детский гардероб,Детский гардероб,Детский гардероб
fd_name2,Аксессуары,Аксессуары,Верхняя одежда,Обувь,Верхняя одежда
fd_id1,9,22,22,22,22
fd_id2,914,2202,2204,2209,2204
fd_slug1,zhenskaya-odezhda,detskaya-odezhda,detskaya-odezhda,detskaya-odezhda,detskaya-odezhda
fd_slug2,aksessuary,aksessuary,verhnyaya-odezhda,obuv,verhnyaya-odezhda
fd_slug_id1,zhenskaya-odezhda,detskaya-odezhda,detskaya-odezhda,detskaya-odezhda,detskaya-odezhda
fd_slug_id2,zhenskaya-odezhda-aksessuary,detskaya-odezhda-aksessuary,detskaya-odezhda-verhnyaya-odezhda,detskaya-odezhda-obuv,detskaya-odezhda-verhnyaya-odezhda